@import "@/assets/styles/_colors.scss";
@import "@/assets/styles/_main.scss";

.promo-navigation-bar-block {
    display: flex;
    justify-content: space-between;
    .promo-navigation-bar-block__logo {
      display: flex;
      margin: 0;
      padding: 0;
      align-items: center;
      -moz-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      user-select: none;
      .paragraph-primary {
        font-weight: 700;
        color: $main-font-color;
      }
      p {
        margin: 0;
      }
      div {
        cursor: pointer;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        user-select: none;
      }
      :last-child {
        margin-right: 0;
      }
    }

    .promo-navigation-bar-block__login-and-signup {
      cursor: pointer;
      -moz-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      user-select: none;
      display: flex;
      align-items: center;
    }

    .promo-login-button {
        a {
          text-decoration: none;
          font-weight: 500;
          color: $main-font-color;
        }   
      }

    .promo-signup-button {
        a {
          text-decoration: none;
          font-weight: 500;
          color: $main-font-color;
        }
      }
  }

.home-navigation-bar-block {
    margin-bottom: 12 * $module;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    .home-navigation-bar-block__logo-and-addings {
      display: flex;
      margin: 0;
      padding: 0;
      :first-child{
        color: $main-font-color;
        font-weight: 700;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        user-select: none;
      }
      p {
        margin: 0; 
      }
      div {
        color: $link-color-standart;
        cursor: pointer;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        &:hover {
          color: $link-color-hover;
        }
      }
      :last-child {
        margin-right: 0;
      }
    }

    .home-navigation-bar-block__username-and-exit {
      cursor: pointer;
      -moz-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      user-select: none;
      background: $white-color;
      border: 1px solid $link-color-standart;
      border-radius: $module;
      color: $link-color-standart;
      &:hover {
        background: $exit-button-background-hover;
        color: $exit-button-stroke-standart;
        border: 1px solid $exit-button-stroke-standart;
      }
    }
  }