.edit-shelf-confirm-button {
    font-family: $main-font-family;
    cursor: pointer;
    background: $login-button-standart;
    border: none;
    padding: 2*$module 3*$module;
    color: $white-color;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    &:hover {
      background-color: $login-button-hover;
    }
  }

  .empty {
    display: none;
  }
  .edit-shelf-popup-block__header-line {
    display: flex;
    justify-content: space-between;
    align-content: baseline;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }
  .edit-shelf-popup-close {
    cursor: pointer;
    color: $link-color-standart;
    &:hover{
      color: $link-color-hover;
    }
  }
  .edit-shelf-input-block {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    margin-bottom: 6 * $module;
    background: $white-color;
    display: flex;
    flex-direction: column;
    .edit-shelf-input-text-block {
      box-shadow: none;
      font-family: $main-font-family;
      border: 1px solid $input-stroke-standart;
      
      :active {
        border-radius: $module;
      }
    }
  }
  .edit-shelf-input-and-button{
    display: flex;
    justify-content: center;
  }
  .edit-shelf-delete-container{
    display: flex;
    align-items: center;
  }
  .delete-label{
    margin-right: 3 * $module;
    color: $error-color;
    font-weight: 500;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }
  .edit-shelf__edit-category-point-title{
    margin-bottom: 4 * $module;
    font-weight: 600;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }
  .edit-shelf-delete-category {
    padding: 2 * $module 2 * $module;
    cursor: pointer;
    border: none;
    font-weight: 500;
    background: none;
    color: $error-color;
    border-radius: $module;
    font-family: $main-font-family;
    border: 1px solid $error-color;
    &:hover {
      color: $error-color-hover;
      background: #fce3e3;
    }
  }