@import "@/assets/styles/_main.scss";

.new-bookmark-confirm-button {
    font-family: $main-font-family;
    cursor: pointer;
    background: $login-button-standart;
    border: none;
    color: $white-color;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    &:hover {
      background-color: $login-button-hover;
    }
  }
  .empty {
    display: none;
  }
  .new-bookmark-popup-block__header-line {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-content: baseline;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }
  .new-bookmark-popup-close {
    cursor: pointer;
    cursor: pointer;
    color: $link-color-standart;
    &:hover{
      color: $link-color-hover;
    }
  }
  .new-bookmark-input-block {
    background: $white-color;
    display: flex;
    flex-direction: column;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    .new-bookmark-selected-block {
      border: 1px solid $input-stroke-standart;
      border-radius: $module;
      :active {
        border-radius: $module;
      }
    }
    .new-bookmark-input-text-block {
      border: 1px solid $input-stroke-standart;
      border-radius: $module;
      :active {
        border-radius: $module;
      }
    }
  }