.category-block {
    display: flex;
    flex-direction: column;
}
.category-plate {
    background: $category-plate-background-standart;
    border: 1px solid $category-plate-stroke;
    &:hover {
      background: $category-plate-background-hover;
    }
    display: flex; 
    .paragraph-primary {
      margin: 0;
    }
    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }
  .category-options__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    .category-options__btn__points {
        
        display: flex;
      z-index: 50;
      
      &:hover {
        background: $category-options-hover;
        
        border-radius: $module;
      }
      .category-options__btn__points__point {
        background: #747474;
      }
      :first-child {
        margin-left: $module / 2;
      }
    }
  }
  .category-list {
    display: flex;
    flex-wrap: wrap;
    div {
      .category-plate {
        margin-right: 3 * $module;
      }
    }
  }
  .add-category{
    padding: $module 3 * $module;
    border: 1px dashed rgb(219, 220, 248);
    color: rgb(65, 70, 230);
    border-radius: $module;
    line-height: 160%;
    height: 25px;
    &:hover{
      border: 1px dashed rgb(202, 204, 241);
      background: rgb(245, 245, 255);
    }
    .paragraph-primary{
      margin: 0;
    }
    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }
  .all-bookmark-category-plate {
    background: $category-plate-background-standart;
    border: 1px solid $category-plate-background-hover;
    display: flex;
    align-items: center;
    border-radius: $module;
    &:hover {
      background: $category-plate-background-hover;
    }
    .paragraph-primary {
      margin: 0;
    }
    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }