.category-block {
    display: flex;
    flex-direction: column;
}
.category-plate {
    background: $category-plate-background-standart;
    border: 1px solid $category-plate-stroke;
    &:hover {
      background: $category-plate-background-hover;
    }
    display: flex;
    align-items: center;    
    .paragraph-primary {
      margin: 0;
    }
    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }
  .category-options__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    .category-options__btn__points {
        
        display: flex;
      z-index: 50;
      
      &:hover {
        background: $category-options-hover;
        
        border-radius: $module;
      }
      .category-options__btn__points__point {
        background: #747474;
      }
      :first-child {
        margin-left: $module / 2;
      }
    }
  }
  .category-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    :last-child {
      margin-right: 0;
    }
  }
  .all-bookmark-category-plate {
    background: $category-plate-background-standart;
    border: 1px solid $category-plate-background-hover;
    display: flex;
    align-items: center;
    border-radius: $module;
    &:hover {
      background: $category-plate-background-hover;
    }
    .paragraph-primary {
      margin: 0;
    }
    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }