$white-color: #ffffff;
$error-color: #E02215;

$promo-page-background: #fafbff;
$main-font-color: #151c45;
$additional-font-color: #8b9bdb;

$promo-button-standart: #d5dbf2;
$promo-button-hover: #c1c8e4;

$login-button-standart: #105cf4;
$login-button-hover: #0d4fd4;

$link-color-standart: #105cf4;
$link-color-hover: #7aa6ff;

$input-stroke-standart: #e4e4e4;
$input-background-standart: #fcfcfc;

$exit-button-stroke-standart: #E48BA1;
$exit-button-background-hover: #fff6f8;

$block-header-stroke: #F5F5F5;

$category-plate-background-standart: #f8f9ff;
$category-plate-background-hover: #D6DEFF;
$category-plate-stroke: #f8f9ff;